*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
}

body{
    background-color: rgb(163, 255, 255);
}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}

.slide-control:nth-child(1):checked ~ .slide-show .slide-list{--selected-item: 0;}
.slide-control:nth-child(2):checked ~ .slide-show .slide-list{--selected-item: 1;}
.slide-control:nth-child(2):checked ~ .slide-show .slide-list{--selected-item: 2;}

.slide-show{
    overflow: hidden;
}

.list-slide{
    --selected-item: 0;
    --total-items: 4;
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    position: relative;
    left: calc(var(--selected-item) * -100%);
    width: calc(var(--total-items) * 100%);
    transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.slide{
    width: 100%;
}
